/* Footer.css */
.app-footer {
  position: fixed;       
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  background: rgba(0, 0, 0, 0.7); 
  color: #00fff7;      
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 -2px 15px #00fff7, 0 -5px 30px #00f0ff55 inset;
  letter-spacing: 1px;
  z-index: 20;
  backdrop-filter: blur(4px); 
  transition: all 0.3s ease;
}


.app-footer:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #00fff7, 0 0 20px #00f0ff, 0 0 30px #00fff7;
}
